@page "/"

<h1>Hello, world! From Neural Systems</h1>
<p>We are a Startup with domain in, Operations Technologies, we will soon be showing our SAAS offer for SCADA systems.</p>

Page Under Construction.

<picture>
    <img src="/image/neurallogo.png" alt="Logo Neural Systems">
</picture>


