@page "/"

<h1>Hello, world! From Neural Systems</h1>

Page Under Construction.

<picture>
    <img src="/image/neurallogo.png" alt="Logo Neural Systems">
</picture>

<SurveyPrompt Title="How is Blazor working for you? Neural Systems" />
